@boardSize: 10;
@sideSize: 4;

@spaceSize: 50px;
@spaceBorderSize: 1px;
@spacePadding: 5px;
@spaceOuterSize: @spaceSize + (@spaceBorderSize + @spacePadding) * 2;
@spaceDisabledColor: #f0f0f0;

@boardWidth: (@boardSize * @spaceOuterSize) + 2;
@boardHeight: (@boardSize * @spaceOuterSize) + 2;
@sideWidth: (@sideSize * @spaceOuterSize) + 2;
@sideHeight: (@boardSize * @spaceOuterSize) + 2;

@boardBorderColor: #606060;
@sideBorderColor: #d0d0d0;

@player1Color: #D8E3FF;
@player1PlacementColor: lighten(@player1Color, 5%);
@player2Color: #FFD8D8;
@player2PlacementColor: lighten(@player2Color, 5%);

body {
    background-color: #f9f9f9;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 16px;
}

#container {
    .error {
        margin-bottom: 10px;
    }
}

#loginMenu {
    margin-bottom: 20px;

    form {
        display: inline;
    }
}

#menuContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin: 0 auto;
    width: 50%;
    max-width: 800px;
    border-top: 1px solid #e0e0e0;
    padding-top: 10px;

    #menu {
        display: flex;
        justify-content: center;
        align-items: flex-end;

        .left, .center, .right {
            width: 33%;
        }

        button {
            margin-top: 8px;
        }
    }
}

#gameContainer {
    display: flex;
    justify-content: center;

    #board {
        width: @boardWidth;
        height: @boardHeight;
        margin-left: @spaceOuterSize;
        margin-right: @spaceOuterSize;
        border: @spaceBorderSize solid @boardBorderColor;

        .space {
            border: @spaceBorderSize solid @boardBorderColor;
        }

        .disabled {
            background-color: @spaceDisabledColor;
        }

        .placement_0 {
            background-color: @player1PlacementColor;
        }

        .placement_1 {
            background-color: @player2PlacementColor;
        }
    }

    #leftSide, #rightSide {
        width: @sideWidth;
        height: @sideHeight;
        border: @spaceBorderSize solid @sideBorderColor;

        .space {
            border: @spaceBorderSize solid @sideBorderColor;
        }
    }

    #board, #leftSide, #rightSide {
        .row {
            display: flex;
            flex-direction: row;
            margin: 0;
        }

        .space {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            user-select: none;
            cursor: default;

            width: @spaceOuterSize;
            height: @spaceOuterSize;
            padding: @spacePadding;

            font-size: 20px;

            .rank {
                font-size: 20px;
            }

            .rankName {
                font-size: 11px;
                margin-top: 3px;
                width: 100%;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }

        .player_0 {
            background-color: @player1Color;
        }

        .player_1 {
            background-color: @player2Color;
        }

        .player_0.revealed {
            background-color: darken(@player1Color, 12%);
        }

        .player_1.revealed {
            background-color: darken(@player2Color, 12%);
        }
    }
}

#gameFooter {
    margin-top: 20px;

    button {
        margin-right: 5px;
    }

    #stats {
        font-weight: bold;

        #turn, #winner {
            display: inline-block;
            margin-bottom: 8px;
        }

        #numMoves, #turnNum, #winnerNum {
            font-weight: normal;
        }
    }

    #restartGame, #backToMenuForm {
        display: inline-block;
    }

    #restartGame, #backToMenu {
        margin-top: 10px;
    }

    #multiplayerStatus, #multiplayerToken {
        font-size: 13px;
        margin-top: 10px;
    }
}

@media (max-width: 1300px) {
    h1 {
        font-size: 28px;
    }

    #gameContainer {
        #board {
            width: @boardWidth * 0.85;
            height: @boardHeight * 0.85;
            margin-left: @spaceOuterSize * 0.85;
            margin-right: @spaceOuterSize * 0.85;
        }

        #leftSide, #rightSide {
            width: @sideWidth * 0.85;
            height: @sideHeight * 0.85;
        }

        #board, #leftSide, #rightSide {
            .space {
                width: @spaceOuterSize * 0.85;
                height: @spaceOuterSize * 0.85;
                padding: @spacePadding * 0.85;

                font-size: 18px;

                .rank {
                    font-size: 18px;
                }

                .rankName {
                    margin-top: 2px;
                }
            }
        }
    }
}

@media (max-width: 1100px) {
    h1 {
        font-size: 24px;
    }

    body {
        font-size: 14px;
    }

    #gameContainer {
        #board {
            width: @boardWidth * 0.7;
            height: @boardHeight * 0.7;
            margin-left: @spaceOuterSize * 0.7;
            margin-right: @spaceOuterSize * 0.7;
        }

        #leftSide, #rightSide {
            width: @sideWidth * 0.7;
            height: @sideHeight * 0.7;
        }

        #board, #leftSide, #rightSide {
            .space {
                width: @spaceOuterSize * 0.7;
                height: @spaceOuterSize * 0.7;
                padding: @spacePadding * 0.7;

                font-size: 16px;

                .rank {
                    font-size: 16px;
                }

                .rankName {
                    margin-top: 1px;
                }
            }
        }
    }
}
